In [10]:
import os
import numpy as np
import pandas as pd
import shutil

In [2]:
data_labels = pd.read_csv('../../train_labels.csv')
data_labels.head()

   id  label
0   0      1
1   1     13
2   2     13
3   3     14
4   4      6

In [17]:
images_path = '../../train/train/'
category_root = '../../train/catagorized_images/'
labels = np.arange(0, 16, 1)
files_list = os.listdir(images_path)

In [28]:
files_dict = {}
for file_name in files_list:
    files_dict[int(file_name[:-4])] = file_name

In [45]:
for row in data_labels.iterrows():
    img_id, img_label = row
    cat_folder = str(img_label['label']) + '/'
    label_folder = os.path.join(category_root, cat_folder)
    
    shutil.copyfile(
        os.path.join(images_path, files_dict[img_id]),
        os.path.join(label_folder, files_dict[img_id]),
    )